{
  "extends": ["react-app", "plugin:prettier/recommended", "prettier/react"],
  "parser": "babel-eslint"
  // "parserOptions": {
  //   "sourceType": "module",
  //   "allowImportExportEverywhere": false,
  //   "codeFrame": true
  // },
  // "rules": {
  //   "no-console": 2,
  //   "import/no-unresolved": 0,
  //   "react/display-name": 0,
  //   "react/prop-types": 0,
  //   "arrow-parens": ["error", "as-needed"],
  //   "prettier/prettier": [
  //     "error",
  //     {
  //       "trailingComma": "es5",
  //       "singleQuote": true,
  //       "printWidth": 120,
  //       "tabWidth": 2,
  //       "semi": false
  //     }
  //   ]
  // }
}
